@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px;
}


/* === CSS Typography === */

.button-txt-color {
    color: #fff;
}

header h1 {
    font-family: "Viner Hand ITC", Arial, sans-serif;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

label {
    color: #fff;
    font-family: "Showcard Gothic", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
}


/* === CSS Backgrounds === */

header {
    background-color: #FF9A45;
}

body {
    background-color: #2E7FE7;
}

input[type="text"] {
    color: #8B1300;
    font-family: "Showcard Gothic", Arial, sans-serif;
    font-size: 15px;
}

input[type="reset"] {
    background-color: #FF9A45;
    color: #fff;
    font-family: "Showcard Gothic", Arial, sans-serif;
    font-size: 24px;
    padding: 15px 40px 15px 40px;
    border: 2px solid #FF9A45;
}

input[type="submit"] {
    background-color: #FF9A45;
    color: #fff;
    font-family: "Showcard Gothic", Arial, sans-serif;
    font-size: 24px;
    padding: 15px 40px 15px 40px;
    border: 2px solid #FF9A45;
    margin-left: 75px;
}


/*.ch-reset {
    background-color: #FF9A45;
    color: #fff;
}*/


/* === CSS Box Model === */

.border-button {
    padding: 10px 40px;
    border-radius: 15px;
    margin-right: 15px;
    background-color: #522084;
}

#padding-right {
    padding-left: 35px;
}

.f1-space {
    margin-left: 275px;
}

.f2-space {
    margin-left: 239px;
}

.f3-space {
    margin-left: 81px;
}

.f4-space {
    margin-left: 132px;
}

.f5-space {
    margin-left: 274px;
}

.f6-space {
    margin-left: 266px;
}

form {
    margin-left: 154px;
    margin-top: 60px;
}

.field-spacing {
    margin-bottom: 30px;
}

.align-center {
    text-align: center;
}

.mar-top {
    margin-top: 50px;
}


/* === CSS Grid === */

.column {
    float: left;
}

.col-6 {
    width: 50%;
}

.row:after {
    clear: both;
    content: " ";
    display: table;
}


/* === CSS Helper Classes === */

.clear-left {
    clear: left;
}


/* === CSS Extra === */

a {
    text-decoration: none;
}

p a:hover {
    background-color: #fff;
    padding: 10px 40px;
    color: #522084;
    width: 300px;
    border-radius: 20px;
    margin-right: 15px;
}

.field-spacing input:focus {
    border: 3px solid #8B1300;
}

input[type="reset"]:hover {
    background-color: #fff;
    color: #FF9A45;
    font-family: "Showcard Gothic", Arial, sans-serif;
    font-size: 24px;
    padding: 15px 40px 15px 40px;
    border: 2px solid #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #FF9A45;
    font-family: "Showcard Gothic", Arial, sans-serif;
    font-size: 24px;
    padding: 15px 40px 15px 40px;
    border: 2px solid #fff;
    margin-left: 75px;
    cursor: pointer;
}


/*#spinning-regis {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}*/
