@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px;
}


/* === CSS Typography === */

.button-txt-color {
    color: #fff;
}

header h1 {
    font-family: "Viner Hand ITC", Arial, sans-serif;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

label {
    color: #fff;
    font-family: "Showcard Gothic", Arial, sans-serif;
    ;
    font-weight: 400;
    font-size: 24px;
}


/* === CSS Backgrounds === */

header {
    background-color: #FF9A45;
}

body {
    background-color: #2E7FE7;
}


/* === CSS Box Model === */

.border-button {
    padding: 10px 40px;
    border-radius: 15px;
    margin-right: 15px;
    background-color: #522084;
}

#padding-right {
    padding-left: 35px;
}

form {
    margin-left: 70px;
}

.align-center {
    text-align: center;
}


/* === CSS Grid === */

.column {
    float: left;
}

.col-6 {
    width: 50%;
}

.row:after {
    clear: both;
    content: " ";
    display: table;
}


/* === CSS Helper Classes === */

.clear-left {
    clear: left;
}


/* === CSS Extra === */

a {
    text-decoration: none;
}

p a:hover {
    background-color: #fff;
    padding: 10px 40px;
    color: #522084;
    width: 300px;
    border-radius: 20px;
    margin-right: 15px;
}


/*#spinning-regis {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}*/


}
*/
