@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
  margin: 0px;
  padding: 0px
}


/* === CSS Typography === */

.button-txt-color {
  color: #fff;
}


/* === CSS Box Model === */

.border-button {
  padding: 10px 40px;
  border-radius: 15px;
  margin-right: 15px;
  background-color: #522084;
}

#padding-right {
  padding-left: 35px;
}

.align-center {
  text-align: center;
}


/* === CSS Extra === */

a {
  text-decoration: none;
}

p a:hover {
  background-color: #fff;
  padding: 10px 40px;
  color: #522084;
  width: 300px;
  border-radius: 20px;
  margin-right: 15px;
}
