<!-- <!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Help</title>
    <script src="../script.js" type="text/javascript"></script>
</head>

<body> -->


<p class="align-center logo-right">
    <a href="index.html#!/home"><img src="std5_logo.png" width="100" height="100" id="logo" alt="std5_logo" title="Studio 5 logo" /></a>
</p>



<h1 id="help-page">Help</h1>


<section id="help-content">
    <section class="column col-3">
        <h2 data-ng-click="showme=true" id="questionOne">Why use this site?</h2>
        <h2 data-ng-click="showme=false" id="questionTwo">How do I start?</h2>
        <h2 data-ng-click="showme=false" id="questionThree">How do I leave feedback?</h2>
    </section>

    <div id="vertical-line" class="column col-3">

    </div>
    <!-- <script src="scripthelp.js" type="text/javascript"></script> -->
    <!-- <div>Fade1</div> -->
    <div id="firstQ">
        <p id="content1">

        </p>
    </div>



    <!-- <div id="secondQ">
        <p>

            This is the first question This is the first question This is the first questionThis is the first questionThis is the first questionThis is the first questionThis is the first questionThis is the first questionThis is the first questionThis is the first
            questionThis is the first question This is the first question This is the first questionThis is the first question

        </p>
    </div> -->
    <!-- <div data-ng-show="showme" id="firstQ">
        <p data-ng-show="showme">
            This is the first question This is the first question This is the first questionThis is the first questionThis is the first questionThis is the first questionThis is the first questionThis is the first questionThis is the first questionThis is the first
            questionThis is the first question This is the first question This is the first questionThis is the first question

        </p>


    </div>
    <div data-ng-hide="showme" id="secondQ">


        <p data-ng-hide="showme" id="secondColor">
            This is the second questionThis is the second questionThis is the second questionThis is the second questionThis is the second questionThis is the second questionThis is the second questionThis is the second questionThis is the second questionThis is
            the second questionThis is the second question

        </p>
    </div>

    <div data-ng-hide="showme" id="thirdQ">


        <p data-ng-hide="showme">
            This is the third question This is the third question This is the third question This is the third question This is the third question This is the third question This is the third questionThis is the third questionThis is the third questionThis is the
            third questionThis is the third question

        </p>
    </div> -->

    <!-- <div id="handle">Fade</div>
    <div id="slideSource">First Fade</div>
    <br>
    <div id="handle2">Fade2</div>
    <div id="slideSource2">Second Fade</div>
    <br>
    <div id="handle3">Fade3</div>
    <div id="slideSource3">Third fade</div> -->
    <!-- <div data-ng-hide="showme" class="fade_in_out" id="secondQ">
        <p>
            This is the second questionThis is the second questionThis is the second questionThis is the second questionThis is the second questionThis is the second questionThis is the second questionThis is the second questionThis is the second questionThis is
            the second questionThis is the second question

        </p>
    </div> -->

    <!-- <div data-ng-hide="showThirdQuestion" id="thirdQ">
        <p>
            This is the third question This is the third question This is the third question This is the third question This is the third question This is the third question This is the third questionThis is the third questionThis is the third questionThis is the
            third questionThis is the third question

        </p>
    </div> -->

    <!-- <div >Fade2</div>
    <div data-ng-show="showSecondQuestion" class="fade_in_out">Second Fade</div>
    <div >Fade3</div>
    <div data-ng-show="showThirdQuestion" class="fade_in_out">Third Fade</div> -->
    <!-- <section class="column" id="answers">
      <div id="handle">


      <p id="message_me">
        First
      </p>
      </div>
    </section> -->
    <!-- <section class="column" id="answers">
        <div id="handle">
            Fade
            <p data-ng-show="showMe">
                First Fade
            </p>
        </div>
        <br>
        <div id="handle2">Fade2
            <p data-ng-show="showThis" data-ng-hide="showMe">Second Fade</p>
        </div>
        <br>
        <div id="handle3">Fade3</div>
        <div id="slideSource3" data-ng-show="showToggle" data-ng-hide="hideToggle">Third fade</div>


    </section> -->


</section>


<footer class="clear-left">

    <a href="https://validator.w3.org/check?uri=referer " class="border-button button-txt-color ">&nbsp;Valid HTML 5</a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer " class="border-button button-txt-color">Valid CSS</a>


    <p class="align-left">
        <small>&copy; Copyright 2017, CultureSmooth</small>
    </p>
</footer>
<!-- </body>

</html> -->
