<p class="align-center logo-right">
    <a href="index.html#!/home"><img src="std5_logo.png" width="100" height="100" id="logo" alt="std5_logo" title="Studio 5 logo" /></a>
</p>

<h1 id="help-page">Help</h1>

<section id="help-content">
    <section class="column col-3">
        <h2 id="questionOne" ng-click="showMe=1 ;showQ = true" ;>Why should I use this site?</h2>
        <h2 id="questionTwo" ng-click="showMe=2 ;showQ = true">How do I start?</h2>
        <h2 id="questionThree" ng-click="showMe=3 ;showQ = true">How do I leave feedback?</h2>
    </section>

    <div id="vertical-line" class="column col-3">
    </div>

    <div id="firstQ" ng-show="showQ">
        <!-- <p id="content1">

        </p> -->

        <p ng-show="showMe==1">
            To develop awareness and empower people to learn about each other. This site is designed to foster exploration, growth, and a welcoming community for all types of individuals.
        </p>

        <p ng-show="showMe==2">
            Click the logo in the upper right hand corner to be taken to the main menu. You may then select 'Explore' or 'Discover' to decide which culture you wish to learn about. 'Explore' is meant for those who are unsure of where to begin. Start there for a more
            wholesome experience!
        </p>

        <p ng-show="showMe==3" id="contact">
            You may contact me at my UC Davis email: <a href="mailto:aontofon@ucdavis.edu">aontofon@ucdavis.edu</a>.
        </p>
    </div>
</section>


<footer class="clear-left">
    <a href="https://validator.w3.org/check?uri=referer " class="border-button button-txt-color ">&nbsp;Valid HTML 5</a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer " class="border-button button-txt-color">Valid CSS</a>

    <p class="align-left">
        <small>&copy; Copyright 2017, CultureSmooth</small>
    </p>
</footer>
