<p class="align-center">
    <img src="std5_logo.png" width="175" height="175" id="logo" alt="std5_logo" title="Studio 5 logo" /></p>

<section id="menu">
    <p id="start_message">
        Hello Users, welcome to my project! <br />Unfortunately, not all of my pages are complete. <br />However, I would like you to follow the instructions on<br /> the paper that I have provided to you, thank you.
    </p>
    <h1 id="explore"><a href="#!/explore">Explore</a></h1>
    <h1 id="discover"><a href="#!/discover">Discover</a></h1>
    <h1 id="about"><a href="#!/about">About</a></h1>
    <h1 id="help"><a href="#!/help">Help</a></h1>
</section>
