@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* === CSS Sticky Footer === */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px 0;
}

footer {
    width: 100%;
    height: 85px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* === CSS Typography === */

#menu {
    font-family: 'Sansita', sans-serif;
    font-size: 3.4em;
    text-transform: uppercase;
    text-align: center;
}

#menu h1 {
    padding: 0.2em;
    width: 3in;
    margin: auto;
    transition: width 1.3s;
}

#menu h1:hover {
    width: 5in;
    cursor: pointer;
}

.content label {
    font-size: 1em;
    font-family: 'Sansita', sans-serif;
}

li, p, button, footer {
    font-family: 'Sansita', sans-serif;
}


/* === CSS Backgrounds === */

body {
    /*background-color: #edf8ff;*/
    background-color: #e9ddff;
}

#content_box {
    background-color: #270722;
    color: #edf8ff;
    font-size: 50px;
    margin-top: 100px;
    padding-bottom: 52px;
}

.content-button {
    background-color: #edf8ff;
    color: #270722;
    padding: 15px;
    font-size: 25px;
}

#align_buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

#explore {
    background-color: #3185fc;
    color: #e4ffe5;
}

#discover {
    background-color: #270722;
    color: #edf8ff;
}

#about {
    background-color: #a1d542;
    color: #0e6045;
}

#help {
    background-color: #f7bd69;
    color: #63442a;
}


/* === CSS Box Model === */

footer {
    /*margin-left: 62px;
    box-sizing: border-box;*/
}

footer p {
    margin-top: 20px;
}

nav {
    margin-top: 100px;
}

.border-button {
    padding: 10px 40px;
    margin-right: 15px;
    color: #270722;
    border: 2px solid #270722;
    box-sizing: border-box;
}

.button-txt-color {
    color: #270722;
}

.content label {
    margin: 20px 0 0 30px;
}

#explore-field1 {
    margin: 40px 0 0 20px;
}

#submit-button {
    margin-left: 28px;
}

#logo {
    height: auto;
    max-width: 100%;
    margin-top: 20px;
    /*margin-top: 15px;*/
    /*margin-left: 90px;*/
}

#menu {
    margin-top: 80px;
}

#txt_in_box {
    /*margin-top:150px;*/
    margin-top: 60px;
}

.logo-right {
    margin: 0 79px 0 0;
}


/* === CSS Helper Classes === */

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.clear-left {
    clear: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


/* === CSS Grid === */

.column {
    float: left;
}

.col-12 {
    width: 100%;
}

.col-9 {
    width: 75%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-3 {
    width: 25%;
}

.row:after {
    clear: both;
    content: " ";
    display: table;
}

ul {
    width: 45%;
}


/* === CSS Responsive === */


/* === CSS Extra === */

a {
    text-decoration: none;
}

footer a:hover {
    padding: 10px 40px;
    color: #edf8ff;
    margin-right: 15px;
    background-color: #270722;
    border: 2px solid #270722;
    transition: 0.8s;
}

button:hover {
    cursor: pointer;
}

#explore a:visited {
    color: #e4ffe5
}

#discover a:visited {
    color: #edf8ff;
}

#about a:visited {
    color: #0e6045;
}

#help a:visited {
    color: #63442a;
}

#explore a:link {
    color: #e4ffe5
}

#discover a:link {
    color: #edf8ff;
}

#about a:link {
    color: #0e6045;
}

#help a:link {
    color: #63442a;
}

h4 {
    visibility: hidden;
}

li:hover {
    cursor: pointer;
}

li {
    list-style-type: none;
    padding: 30px;
}

.logo-right {
    text-align: right;
}

#explore-page {
    font-family: 'Sansita', sans-serif;
    font-size: 3.4em;
    text-transform: uppercase;
    text-align: center;
    background-color: #3185fc;
    color: #e4ffe5;
}

#help-page {
    font-family: 'Sansita', sans-serif;
    font-size: 3.4em;
    text-transform: uppercase;
    text-align: center;
    background-color: #f7bd69;
    color: #63442a;
}

#help-page {
    padding: 0.2em 0.2em 0.2em 0.2em;
    width: 2in;
    transition: width 1.3s;
    margin-left: 49px;
}

#explore-page {
    padding: 0.2em;
    width: 3in;
    transition: width 1.3s;
}

#help-content {
    margin-top: 25px;
    background-color: #f7bd69;
    height: 400px;
}

#help-content h2 {
    margin-top: 30px;
    margin-left: 105px;
    color: #63442a;
    font-family: 'Sansita', sans-serif;
    font-size: 2.3em;
    line-height: 240%;
    width: 4in;
}

#help-content h2:hover {
    color: #ffffff;
    cursor: pointer;
    transition: 0.7s;
}

.content h2 {
    text-align: center;
    margin-top: 10px;
}

.content form {
    /*text-align: center;*/
    /*margin-top: 25px;*/
}

.content {
    margin-top: 25px;
    background-color: #3185fc;
    height: 400px;
}

.content h2 {
    font-size: 2.5em;
    color: #e4ffe5;
    font-family: 'Sansita', sans-serif;
}


/* Angular Animate definitions */

main.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

main.ng-enter.ng-enter-active {
    opacity: 1;
}


/*transition effect when you come to homepage*/

#menu h1.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

#menu h1.ng-enter.ng-enter-active {
    opacity: 1;
}

#vertical-line {
    width: 3px;
    /* Line width */
    background-color: #63442a;
    /* Line color */
    height: 80%;
    margin-top: 40px;
    float: left;
    margin-left: 400px;
}

#answers {
    margin-left: 300px;
}


/*fade in and out options for JS */


/*#handle {
    color: white;
}

#slideSource {
    color: white;
}

div #slideSource {
    opacity: 1;
    transition: opacity 1s;
}

div #slideSource.fade {
    opacity: 0;
}

#handle2 {
    color: white;
}

#slideSource2 {
    color: white;
}

div #slideSource2 {
    opacity: 1;
    transition: opacity 1s;
}

div #slideSource2.fade {
    opacity: 0;
}

#handle3 {
    color: white;
}

#slideSource3 {
    color: white;
}

div #slideSource3 {
    opacity: 1;
    transition: opacity 1s;
}

div#slideSource3.fade {
    opacity: 0;
}*/


/*#answers.ng-hide-remove {
    transition: 2s linear all;
    opacity: 0;
}

#answers.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}*/
