<p class="align-center logo-right">
    <img src="std5_logo.png" width="100" height="100" id="logo" alt="std5_logo" title="Studio 5 logo" /></p>


<h1 id="explore-page">Explore</h1>

<section class="content">
    <section id="explore-form" class="column col-6">


        <h2>Search a Culture</h2>
        <form>
            Type the language you are looking for:
            <input type="text" />
        </form>
    </section>

    <section class="column col-6">


        <h2>Search a Culture</h2>
        <form>
            Type the language you are looking for:
            <input type="text" />
        </form>
    </section>
</section>

<footer class="clear-left">

    <a href="https://validator.w3.org/check?uri=referer " class="border-button button-txt-color ">&nbsp;Valid HTML 5</a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer " class="border-button button-txt-color">Valid CSS</a>


    <p class="align-left">
        <small>&copy; Copyright 2017, MaiVennu</small>
    </p>
</footer>
