@charset "UTF-8";

/* === CSS Reset === */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* === CSS Typography === */

header h1 {
    font-family: 'Overlock', cursive;
    font-size: 50px;
    font-weight: 700;
    color: #F4F1DE;
}

.button-txt-color {
    color: #F4F1DE;
    font-family: 'Overlock', cursive;
    font-weight: 700;
    font-size: 20px;
}


/* === CSS Backgrounds === */

header {
    background-color: #9D6381;
}

footer {
    background-color: #9D6381;
}


/* === CSS Box Model === */

header h1 {
    margin: 0px 0px 0px 70px;
    padding: 20px 0px 20px 0px;
}

.border-button {
    padding: 10px 20px;
    border-radius: 15px;
    margin-right: 15px;
    border: 2px solid #F4F1DE;
}

footer {
    padding: 30px 0 20px 80px;
}

footer p {
    padding-top: 10px;
}


/* === CSS Grid === */

.border-button {
    width: 300px;
}


/* === CSS Positioning  === */


/*#wrapper {
    min-height: 100%;
    position: relative;
}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px 0;
}

footer {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* === CSS Helper Classes === */

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.clear-left {
    clear: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


/* === CSS Extra === */

a {
    text-decoration: none;
}

p a:hover {
    background-color: #F4F1DE;
    padding: 10px 20px;
    color: #9D6381;
    width: 300px;
    border-radius: 15px;
    margin-right: 15px;
    font-family: 'Overlock', cursive;
    font-weight: 700;
}
