/* === CSS Typography === */

* {
    margin: 0;
    padding: 0;
}

.button-txt-color {
    color: #fff;
}

figcaption {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}


/* === CSS Backgrounds === */

body {
    background-color: #95ABFF;
}

h1 {
    background-color: #522084;
}


/* === CSS Box Model === */

.border-button {
    padding: 10px 40px;
    border-radius: 15px;
    margin-right: 15px;
    background-color: #522084;
}

figcaption {
    margin-top: 10px;
}

footer {
    padding-top: 50px;
}

footer p {
    padding-bottom: 50px;
}

h1 {
    width: 50%;
    padding: 10px;
    margin: auto;
    margin-bottom: 75px;
    border-radius: 20px;
}

h2 {
    margin-bottom: 40px;
    margin-left: 120px;
}

.mv-txt-left {
    margin: auto;
}

#name {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 100px;
    box-sizing: border-box;
}

.mar-bottom {
    margin-bottom: 40px;
}

#padding-right {
    padding-left: 35px;
}

.sm-mar-bottom {
    margin-bottom: 15px;
}


/* === CSS Grid === */

.border-button {
    width: 300px;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.flex {
    display: flex;
    justify-content: space-around;
}


/* === CSS Positioning  === */


/* === CSS Helper Classes === */

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.clear-left {
    clear: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


/* === CSS Responsive === */

img {
    max-width: 100%;
}


/* === CSS Extra === */

a {
    text-decoration: none;
}

p a:hover {
    background-color: #fff;
    padding: 10px 40px;
    color: #522084;
    width: 300px;
    border-radius: 20px;
    margin-right: 15px;
    font-family: 'Open Sans', sans-serif;
}